name: cache-test-69ef9dc

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: prime-cache-69ef9dc
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
          key: cache-69ef9dc

      - name: prime-cache-69ef9dc-result
        run: echo "Cache step executed"
